 <section class="vh-100" style='background-image: url("/assets/images/CrsLogo.png"); background-repeat: no-repeat; background-size: 100% 100%;'>
    <div class="container py-5 ">
      <div class="row justify-content-center align-items-center ">
        <div class="col col-lg-5">
          <div class="card text-center" style="border-radius: 1rem; background-color: #ffffffc2">
            <div>
              <div class="align-items-center">
                <div class="card-body p-4 text-black my-5" >
  
                  <form>
  
                    <div class="align-items-center mb-3 pb-1">
                      <span class="h1 fw-bold mb-0" style="font-family: Georgia, serif;">CRS Login</span>
                    </div>
  
                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px; font-family: Georgia, serif;">Login into your account</h5>
                    <div class="alert alert-danger alert-dismissible" role="alert"  *ngIf='msg'>
                      <span type="button" class="close" data-bs-dismiss="alert" aria-label="Close" on-click="closeAlert()"><span aria-hidden="true">&times;</span></span>
                      <strong>Alert! </strong>Incorrect Username/Password.
                    </div>
                    <div class="form-outline mb-4">
                        <label class="form-label" for="form2Example17" style="font-family: Georgia, serif;">Username</label>
                        <input type="username" id="form2Example17" class="form-control form-control-lg" [(ngModel)]="userName" name="userName"  />        
                    </div>
  
                    <div class="form-outline mb-4">
                        <label class="form-label" for="form2Example27" style="font-family: Georgia, serif;"> Password</label>
                        <input type="password" id="form2Example27" class="form-control form-control-lg" [(ngModel)]="password" name="password" />                 
                    </div>
  
                    <div class="p1-1 d-grid">
                      <button class="btn btn-dark btn-lg btn-block" type="submit" (click)='submit()' style="font-family: Georgia, serif;">Login</button>
                    </div>
  
                    <br>
                    <p class="mb-5 pb-lg-2" style="color: #0a0a0f; font-family: Georgia, serif;">Don't have an account? <a href="#!" style="color: #393f81;">New Student Register here</a></p>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>