#wrapper {
    overflow-x: hidden;
    }
    

    #sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    transition: margin 0.25s ease-out;
    /* background-color: rgb(199, 228, 202); */
    }
    
    
    #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
    }
    
    
    
    #sidebar-wrapper .navbar {
    width: 20rem;
    }

    #sidebar-wrapper .navbar .navbar-nav > li > a {
    line-height: 100px;
    }
    
    #sidebar-wrapper .navbar{
        cursor: pointer;
    }
    
    #page-content-wrapper {
    min-width: 100vw;
    }
    
    
    
    body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
    margin-left: 0;
    }
    
    
    
    @media (min-width: 768px) {
    #sidebar-wrapper {
    margin-left: 0;
    }
    
    
    #page-content-wrapper {
    min-width: 0;
    width: 100%;
    }
    
    
    body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
    margin-left: -15rem;
    }
    }


    /* .border-end {
    border: 1px solid #10860c !important;
    } */

    /* .anchor-border{
        border-bottom: 1px solid #10860c !important;
    } */

