<div class="form-container">
  <form ngForm>
   <div> <h4>Add Course</h4></div><br>
    <div class="form-group" >
      <label for="courseId" >Course Id</label>
      <input type="text" class="form-control" id="courseId" [(ngModel)]="model.courseId" name="courseId">
    </div>

    <div class="form-group">
      <label for="courseName">Course Name</label>
      <input type="text" class="form-control" id="courseName" [(ngModel)]="model.courseName" name="courseName">
    </div>

    <div class="form-radio">
      <label for="courseAvailable">Course Available:</label>
      <!-- <input type="radio"  class="form-control" id="courseAvailable" -->
      <input type="radio"  value="true" id="courseAvailable" [(ngModel)]="model.courseAvailable" name="courseAvailable">True
      <input type="radio" value="false" id="courseAvailable" [(ngModel)]="model.courseAvailable" name="courseAvailable">False

    </div>

    <div class="form-group">
      <label for="offlineAmount">Offline Amount</label>
      <input type="number" class="form-control" id="offlineAmount" [(ngModel)]="model.offlineFees"
        name="offlineAmount">
    </div>

    <div class="form-group">
      <label for="onlineAmount">Online Amount</label>
      <input type="number" class="form-control" id="onlineAmount" [(ngModel)]="model.onlineFees" name="onlineAmount">
    </div>

    <div class = "form-button">
      <button type="button" class="btn btn-success" (click)="createCourse()">Submit</button>
      <!-- <button type="button" class="btn btn-primary" (click)="createCourse()">Delete Course</button> -->
      <!-- <p>{{this.message}}</p> -->
    </div>
    <div class="alert alert-success alert-dismissible" role="alert"  *ngIf=msg>
      <span type="button" class="close" data-bs-dismiss="alert" aria-label="Close" on-click="closeAlert()"><span aria-hidden="true">&times;</span></span>
      <strong>Success! </strong>{{message.message}}!!
    </div>
  </form>
</div>



<div>
  <ol>
    <!-- <li appHighlightDierctive value="yellow" *ngFor='let course of courseArray index as i'>
                {{course.courseName}} <b>||</b> {{course.courseAvailable}}| 
            <button (click) = "deleteCustomer(cust, i)">delete</button>
             </li> -->
  </ol>

</div>